doctype html
head
    title @gulp-chat-room
    meta(charset='uft-8')
    script(defer, src='js/app.js', charset='utf-8')
    link(rel='stylesheet', href='css/page.css')
body
    input#name(placeholder='your name')
    #list-container
        #list
    input#input
