doctype html
head
    title @gulp-chat-room
    meta(charset='uft-8')
    script(defer, src='js/app.js', charset='utf-8')
    link(rel='stylesheet', href='css/page.css')
body
    .table
        .top-bar
            .top-bar-content
                span#name-span YOUR NAME:
                input#name(placeholder='your name')
        .content
            #list-content
                #list
        .bottom-bar
            .bottom-bar-content
                input#input
